
// Colour Scheme
// =============


// Mein Unterricht
$color-mu-background			: #C2E6F3;
$color-mu-button				: #1B799F;



// Common
$color-text						: #242424;
$color-border					: #333;

$color-orange					: orange;
$color-green					: green;


// Links
$color-link-default				: #333;
$color-link-hover				: #eee;



// Examples
$color-ex1-background			: #48d54d;
$color-ex1-border				: #2ab72e;

$color-ex2-background			: #cd64e3;
$color-ex2-border				: #b326cf;

$color-ex3-background			: #ffec70;
$color-ex3-border				: #f5d400;



// Elements
$color-elements-text			: #eee;
$color-info-background			: #AB3244;
